header
  nav.navbar.navbar-dark.bg-dark.shadow-sm
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-center(href='/')
        //- Including the svg logo
        img(src='logo.svg' height='40px' margin='auto')
        strong TASK MIXER
        a(href = '/my_jobs' style='color:white') My jobs
