section.jumbotron.text-center
    .container
        h1 TASK MIXER
        p.lead.text-muted Find chores and get smores
        p
          a.btn.btn-primary.m-2(href="#foo") FIND Chore
          a.btn.btn-secondary.m-2(href="/jobs/add") CREATE CHORE
