extends layout_main.pug
include mixins/card

block content
  h1#foo.text-center WELCOME #{name}, Tasks are listed below
  .container(style='background-color:#086972')
    .album.py-5
      .container
        .row
          each job in jobs
            +thumbCard(job)
