doctype html
html
  head
    title Jobs
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css")



  body
  header
    nav.navbar.navbar-dark.bg-dark.shadow-sm
      .container.d-flex.justify-content-between
        a.navbar-brand.d-flex.align-items-center(href='/')
          //- Including the svg logo
          img(src='logo.svg' height='40px' margin='auto')
          strong TASK MIXER

  main#main
    block content
  br
  br
  include includes/footer.pug
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
    script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
